<h2>List of articles</h2>

<%= link_to 'New article', new_article_path %>

<% @articles.each do |a| %>
	<h3><a href="/articles/<%= a.id %>"><%= a.title %></a></h3>
	<pre><%= a.text %></pre>
<% end %>
