// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	color: orange;
	text-align: left;
}

a {
	color: #00F;
}

a:hover {
	color: yellow;
}

a:visited {
	color: red;
}
